<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guifinalprojecto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GUIfinalProjecto"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAFHcqlEKz13ais5EZbkRNn9DudoJecRiU" />

        <activity android:name=".editMyRestLocation" />
        <activity android:name=".editMyRestCover" />
        <activity android:name=".dataRest" />
        <activity android:name=".deleteRest"></activity>
        <activity android:name=".createMyRestUbicacion" />
        <activity android:name=".portada_createMyRest" />
        <activity android:name=".listMyMenus" />
        <activity android:name=".logo_createMyRest" />
        <activity android:name=".editUser" />
        <activity android:name=".createMyRest" />
        <activity android:name=".editMyRest" />
        <activity android:name=".displayDeleteUser" />
        <activity android:name=".dataMenu" />
        <activity android:name=".dataMyRest" />
        <activity android:name=".listMyRests" />
        <activity android:name=".listMenus" />
        <activity
            android:name=".displayProfile"
            android:label="@string/title_activity_display_profile"
            android:theme="@style/Theme.GUIfinalProjecto.NoActionBar" />
        <activity
            android:name=".register"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.GUIfinalProjecto.NoActionBar" />
        <activity
            android:name=".MainDashboard"
            android:label="@string/title_activity_main_dashboard"
            android:theme="@style/Theme.GUIfinalProjecto.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>